{% extends "base.html" %}
{% block title %}Sign Up - Dormouse{% endblock %}

{% block content %}
    <div class="flex justify-center items-center mt-8">
        <div class="bg-white-100 p-8 rounded-xl shadow-md">
            <h2 class="flex justify-center items-center font-bold text-2xl">Sign Up</h2>
            <form action="" method="post">
                <p>{{form.username.label}}</p>
                <div class="border border-black-500 rounded-md corner-fix shadow-sm form-text mb-3">{{form.username(size=32)}}<br></div>
                <p>{{form.password.label}}</p>
                <div class="border border-black-500 rounded-md corner-fix shadow-sm form-text mb-3">{{form.password(size=32)}}<br></div>
                {% if error %}
                    <div class="flex justify-center items-center text-red-900 bg-red-400 w-full py-2 px-4 rounded shadow-sm">
                      <p>{{ error }}</p>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="flex justify-center items-center text-emerald-900 bg-emerald-400 w-full py-2 px-4 rounded shadow-sm">
                      <p>{{ success }}</p>
                    </div>
                {% endif %}
                <button class="text-white bg-teal-500 hover:bg-teal-600 w-full py-2 px-4 rounded shadow-md mt-3">{{ form.submit() }}</button>
            </form>
        </div>
    </div>
    {% if redirect %}
        <script>
            setTimeout(function(){window.location.href = "{{ redirect }}"}, 2000);
        </script>
    {% endif %}
{% endblock %}