{% extends "base.html" %}
{% block title %}Preferences - Dormouse{% endblock %}

{% block content %}
    <div class="flex justify-center items-center border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <li class="mr-2">
                <a href="/account" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg aria-hidden="true" class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>Account
                </a>
            </li>
            <li class="mr-2">
                <a href="/preferences" class="inline-flex p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 group" aria-current="page">
                    <svg aria-hidden="true" class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>Preferences
                </a>
            </li>
        </ul>
    </div>
    <div class="flex justify-center items-center mt-4 mb-4">
        <div class="bg-gray-50 p-8 rounded-xl shadow-md border border-black-500">
            <h2 class="flex justify-center items-center font-bold text-2xl mb-2">Roommate Preferences</h2>
            <p class="flex justify-center items-center font-lighter text-sm mb-2">*To find your ideal roommates<p>
            <form action="" method="post">
                <p><b>{{form.relationship.label}}</b></p>
                <div class="form-text mb-3">{{form.relationship}}<br></div>

                <p><b>{{form.time.label}}</b></p>
                <div class="form-text mb-3">{{form.time}}<br></div>

                <p><b>{{form.space.label}}</b></p>
                <div class="form-text mb-3">{{form.space}}<br></div>

                <p><b>{{form.conflicts.label}}</b></p>
                <div class="form-text mb-3">{{form.conflicts}}<br></div>

                <p><b>{{form.studying.label}}</b></p>
                <div class="form-text mb-3">{{form.studying}}<br></div>

                <p><b>{{form.shy.label}}</b></p>
                <div class="form-text mb-3">{{form.shy}}<br></div>

                <p><b>{{form.home.label}}</b></p>
                <div class="form-text mb-3">{{form.home}}<br></div>

                <p><b>{{form.music.label}}</b></p>
                <div class="form-text mb-3">{{form.music}}<br></div>

                <p><b>{{form.clean.label}}</b></p>
                <div class="form-text mb-3">{{form.clean}}<br></div>

                <p><b>{{form.temp.label}}</b></p>
                <div class="form-text mb-3">{{form.temp}}<br></div>
                <button class="text-white bg-teal-500 hover:bg-teal-600 w-full py-2 px-4 rounded shadow-md mt-3">{{ form.submit() }}</button>
            </form>
        </div>
    </div>
    {% if redirect %}
        <script>
            setTimeout(function(){window.location.href = "{{ redirect }}"}, 2000);
        </script>
    {% endif %}
{% endblock %}